@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #f1f4ff;
}

.container {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Intro */
.intro-inner {
  display: flex;
  justify-content: space-between;
  height: 640px;
}

.intro-main {
  width: 570px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("../images/main-bg.jpg");
}

.intro-main-inner {
  padding: 55px 60px 203px;
}

.intro-info {
  width: 389px;
}

.intro-info-link {
  display: inline-block;
  margin-bottom: 60px;
  padding: 4px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
  border: 1px solid #ffffff;
  border-radius: 41px;
}

.intro-info-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
}

.intro-info-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.intro-main-bottom-link-wrapper {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 29px;
  text-align: center;
  background-color: #4dc490;
}

.intro-main-bottom-link {
  display: inline-block;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.thin-word {
  font-weight: normal;
}

.intro-sign-in {
  width: 570px;
  padding: 55px 60px 40px;
  background-color: #ffffff;
  border-radius: 20px;
}

.sign-in-title {
  margin-top: 0;
  margin-bottom: 79px;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
}

.site-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 63px;
}

.form-input {
  width: 100%;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid #555555;
}

.form-input:focus {
  outline: none;
}

.form-input:first-child::placeholder {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-color: #000000;
  color: #000000;
}

.form-input:not(:last-child) {
  margin-bottom: 35px;
}

.form-input::placeholder {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}

.primary-btn {
  width: 100%;
  margin-bottom: 8px;
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: #655af2;
  border-radius: 10px;
  color: #ffffff;
}

.primary-btn:hover {
  cursor: pointer;
}

.sign-in-text {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #555555;
}

.red-word {
  text-decoration: underline;
  color: #f03535;
}
